/*
Description:  Default theme for Classes
Author:       Joseph Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/



/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
	blue-dark:#003366;
	green:#00cc66;	
	red: #aa0000;
	yellow: #DFE69E rgba(255,255,100,0.5);

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Main Structure
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Main Structure
--------------------------------------------------------------*/

  
/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Modal Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav {
    /*display: none;*/
    float:none;
    width: calc(100% - 2em);
    margin: 1em;
}
nav a {
    color: red;
}
nav a:after { 
    content: " (" attr(href) ") "; 
}


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
aside {
    float:none;
    width: calc(100% - 2em);
    margin: 1em;
}
main {
    float:none;
    width: calc(100% - 2em);
    margin: 1em;
}

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
/*the footer of the page*/
footer {
    display: none;
}
/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
